<aside class="sidebar">
  <img class="profile-photo" src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="李婷头像">
  <h2>李婷<small>Ting Li</small></h2>
  <p class="role">产业经济学博士研究生<br>江西财经大学</p>
  <div class="side-group"><h3>研究方向</h3><p>数字经济<br>产业经济<br>资源与环境经济学</p></div>
  <div class="side-group"><h3>所在地</h3><p><i class="fa-solid fa-location-dot"></i> 江西 南昌</p></div>
  <div class="side-group contact">
    <h3>联系方式</h3>
    <p><i class="fa-solid fa-envelope"></i><span>Email：liting4891@163.com</span></p>
    <p><i class="fa-solid fa-phone"></i><span>(+86) 18296414891</span></p>
  </div>
</aside>
